In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

c:\Users\PC\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
!pip install finance-datareader
import FinanceDataReader as fdr

Requirement already satisfied: finance-datareader in c:\users\pc\anaconda3\lib\site-packages (0.9.66)
Requirement already satisfied: pandas>=0.19.2 in c:\users\pc\anaconda3\lib\site-packages (from finance-datareader) (2.2.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\pc\anaconda3\lib\site-packages (from finance-datareader) (2.31.0)
Requirement already satisfied: requests-file in c:\users\pc\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\pc\anaconda3\lib\site-packages (from finance-datareader) (4.9.3)
Requirement already satisfied: tqdm in c:\users\pc\anaconda3\lib\site-packages (from finance-datareader) (4.65.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2023.7.22)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.6)

In [4]:
# 코스닥 지수 종가 데이터 가져오기
start_date = "2024-01-01"
end_date = "2024-05-01"
df = fdr.DataReader("278470", start_date, end_date)

# 종가 데이터 출력

              Open    High     Low   Close   Volume    Change
Date
2024-02-27  445500  467500  288500  317500  4366768       NaN
2024-02-28  309500  316500  281500  304000  1194118 -0.042520
2024-02-29  303000  328000  293500  298000  1148671 -0.019737
2024-03-04  308500  312500  296500  299500   479366  0.005034
2024-03-05  297000  299000  271500  277500   466188 -0.073456
2024-03-06  273000  292000  272500  286500   393427  0.032432
2024-03-07  284000  285500  264500  264500   329553 -0.076789
2024-03-08  266500  274000  256500  262000   298477 -0.009452
2024-03-11  259500  262000  250000  250500   215442 -0.043893
2024-03-12  252500  259000  249000  252000   151190  0.005988
2024-03-13  255000  298000  251000  287000  1050984  0.138889
2024-03-14  289500  299000  276500  290000   363969  0.010453
2024-03-15  290500  316000  286000  300500   703183  0.036207
2024-03-18  297500  306500  286500  287000   225312 -0.044925
2024-03-19  289500  290000  261500  261500   304746 -0.088850
2024-03-20  260000  270000  255500  257000   175043 -0.017208
2024-03-21  258000  267000  257000  259000   118554  0.007782
2024-03-22  266000  271000  258000  258500   124715 -0.001931
2024-03-25  258000  275000  251500  269000   240026  0.040619
2024-03-26  269000  275500  262500  264500   215642 -0.016729
2024-03-27  245500  279000  245500  278500  1034796  0.052930
2024-03-28  275500  278000  262000  262000   257878 -0.059246
2024-03-29  262000  266000  249500  250000   314954 -0.045802
2024-04-01  255500  260500  250000  251000   220465  0.004000
2024-04-02  253500  259000  248000  256500   166472  0.021912
2024-04-03  256500  257000  249000  251000   125986 -0.021442
2024-04-04  252000  253000  247000  250500   112298 -0.001992
2024-04-05  247500  248000  232000  233000   222573 -0.069860
2024-04-08  236000  237000  217000  217500   184030 -0.066524
2024-04-09  219000  230000  219000  222500   110773  0.022989
2024-04-11  220000  236000  211500  236000   168058  0.060674
2024-04-12  237500  242500  233000  241500   100841  0.023305
2024-04-15  235000  239000  229500  237500    75367 -0.016563
2024-04-16  233000  235000  225000  233000    66944 -0.018947
2024-04-17  233500  254000  233500  252000   231781  0.081545
2024-04-18  253500  253500  240000  248000   165924 -0.015873
2024-04-19  245000  259000  239000  239000   257258 -0.036290
2024-04-22  238000  244000  235500  238500    63692 -0.002092
2024-04-23  238500  244500  232000  232000    97592 -0.027254
2024-04-24  232000  235500  231000  234500    68630  0.010776
2024-04-25  233500  254500  231000  250000   263382  0.066098
2024-04-26  249500  252500  243500  249500   121390 -0.002000
2024-04-29  252000  279000  249500  270000  1151681  0.082164
2024-04-30  274000  285000  271500  285000   355674  0.055556

In [5]:
df.head()

              Open    High     Low   Close   Volume    Change
Date
2024-02-27  445500  467500  288500  317500  4366768       NaN
2024-02-28  309500  316500  281500  304000  1194118 -0.042520
2024-02-29  303000  328000  293500  298000  1148671 -0.019737
2024-03-04  308500  312500  296500  299500   479366  0.005034
2024-03-05  297000  299000  271500  277500   466188 -0.073456

In [6]:
df['Close']

Date
2024-02-27    317500
2024-02-28    304000
2024-02-29    298000
2024-03-04    299500
2024-03-05    277500
2024-03-06    286500
2024-03-07    264500
2024-03-08    262000
2024-03-11    250500
2024-03-12    252000
2024-03-13    287000
2024-03-14    290000
2024-03-15    300500
2024-03-18    287000
2024-03-19    261500
2024-03-20    257000
2024-03-21    259000
2024-03-22    258500
2024-03-25    269000
2024-03-26    264500
2024-03-27    278500
2024-03-28    262000
2024-03-29    250000
2024-04-01    251000
2024-04-02    256500
2024-04-03    251000
2024-04-04    250500
2024-04-05    233000
2024-04-08    217500
2024-04-09    222500
2024-04-11    236000
2024-04-12    241500
2024-04-15    237500
2024-04-16    233000
2024-04-17    252000
2024-04-18    248000
2024-04-19    239000
2024-04-22    238500
2024-04-23    232000
2024-04-24    234500
2024-04-25    250000
2024-04-26    249500
2024-04-29    270000
2024-04-30    285000
Name: Close, dtype: int64

In [18]:
List = ["372320", "278470", "405100", "445090", "452400", "454910", "473050" , "468760", "473050"] #"KR6034021C96", "KR6036422D95", "KR6039332D98", "KR6150351D99"]

In [36]:
stock_data = pd.DataFrame()
for code in List:
    df = fdr.DataReader(code , start_date, end_date)["Close"]
    df.name = code + "_Close"
    stock_data = pd.concat([stock_data, df], axis=1)

In [37]:
stock_data

,372320_Close,278470_Close,405100_Close,445090_Close,452400_Close,454910_Close,473050_Close,468760_Close,473050_Close
2024-01-02 00:00:00,35800,NaN,16370,60500,NaN,112800,NaN,NaN,NaN
2024-01-03 00:00:00,36950,NaN,16200,58200,NaN,108500,NaN,NaN,NaN
2024-01-04 00:00:00,34100,NaN,16230,53000,NaN,109200,NaN,NaN,NaN
2024-01-05 00:00:00,32400,NaN,15680,54600,NaN,101800,NaN,NaN,NaN
2024-01-08 00:00:00,33000,NaN,16130,49400,NaN,103300,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00,32750,234500.0,24350,56700,17550.0,73400,2025.0,2140.0,2025.0
2024-04-25 00:00:00,32800,250000.0,23950,54100,17430.0,72200,2030.0,2145.0,2030.0
2024-04-26 00:00:00,32500,249500.0,24550,57900,17210.0,71800,2035.0,2145.0,2035.0
2024-04-29 00:00:00,32050,270000.0,24750,57400,17390.0,73000,2035.0,2165.0,2035.0
2024-04-30 00:00:00,32050,284000.0,24200,57700,17830.0,72300,2035.0,2170.0,2035.0

In [25]:

stock_data.columns = [code+"_Close"]

Date
2024-02-29    2015
2024-03-04    2015
2024-03-05    2010
2024-03-06    2015
2024-03-07    2010
2024-03-08    2015
2024-03-11    2010
2024-03-12    2010
2024-03-13    2010
2024-03-14    2005
2024-03-15    2015
2024-03-18    2025
2024-03-19    2025
2024-03-20    2020
2024-03-21    2015
2024-03-22    2020
2024-03-25    2015
2024-03-26    2025
2024-03-27    2020
2024-03-28    2015
2024-03-29    2010
2024-04-01    2010
2024-04-02    2010
2024-04-03    2010
2024-04-04    2015
2024-04-05    2015
2024-04-08    2025
2024-04-09    2025
2024-04-11    2025
2024-04-12    2030
2024-04-15    2030
2024-04-16    2025
2024-04-17    2025
2024-04-18    2020
2024-04-19    2025
2024-04-22    2030
2024-04-23    2030
2024-04-24    2025
2024-04-25    2030
2024-04-26    2035
2024-04-29    2035
2024-04-30    2035
Name: Close, dtype: int64